
/* CDN LINK FROM GOOGLE FONTS FOR THE FONT IN USE */
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    width: 100%;
    height: 100%;

    /* FONT FAMILY PROPERTY FROM GOOGLE FONTS */
    font-family: "Inria Sans", sans-serif;
    /* background-color: #CFCAC9; */
}



/* GLOBAL CLASSES */

.section-margin{
    padding: 25px 71px;
}

.text-arrangement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.normal-button{
    border: none;
    border-radius: 4px 4px;
    outline: none;
    background-color: #096B6B;
    color: #FFFFFF;
    cursor: pointer;
}




/* NAVBAR SECTION */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 71px;
    background-color: #CFCAC9;
    background-color: #FFFFFF;
    box-shadow: 13px 15px 20pX #000000;
    height: 13vh;

    /* TO MAKE SURE THE NAV BAR REMAINS IN PLACE REGARLESS OF SCROLLING ACTIVITY */
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;

    /* TO MAKE SURE THE NAV BAR IS ONTOP OF ALL OTHER ELEMENTS WITHIN THE PAGE */
    z-index: 1000;
}

.navbar_links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_links li{
    padding: 0 25px;
    position: relative;
    list-style: none;
}

.navbar_links li a{
    font-size: 21px;
    font-weight: 900;
    text-decoration: none;
    color: #573838;
    color: #000000;
    transition: all 0.5s ease;
}

/* THE (.active) class IS USED TO ENSURE THE HOME NAV LINK IS ALWAYS HIGHLIGHTED IN THE SPECIFIED COLOUR WHENEVER THE PAGE IS LOADED*/
.navbar_links li a:hover, 
.navbar_links li a.active{
    color: #096B6B;
}


/* pseudo class (:after) IS USED TO APPLY A SMALL LINE BELOW THE ELEMENT WE ARE HOVERING OVER */
/* N/B: WHEN USING THE psuedo class(::after), THE PROPERTY (content: "") MUST BE USED */
.navbar_links li a:hover::after, 
.navbar_links li a.active::after{
    content: "";
    /* background-color: #FD0000; */
    /* background-color: #921616; */
    /* background-color: #E61616; */
    /* background-color: #A42121; */
    background-color: #096B6B;
    width: 37%;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 25px;
}




/* HOMEPAGE SECTION */
.homepage{
    position: relative;
    padding: 50px 71px;
}

.homepage .homepageimg{
    float: right;

    /* TO MAKE THE HOMEPAGE-IMG RESPNSIVE */
    /* width: 100%;
    margin-bottom: 10px; */
}

.homepage #text-left{
    line-height: 25px;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 71px;
    padding-top: 130px;
}

.homepage #text-left #h5{
    color: #B45200;
    font-size: 33px;
    line-height: 31px;

}

.homepage #text-left #h2{
    color: #096B6B;
    font-size: 55px;
    line-height: 46px;

}

.homepage #text-left #h22{
    color: #FF0000;
    font-size: 63px;
    word-spacing: 12px;
    line-height: 51px;

}

.homepage #text-left #p1{
    font-size: 22px;
    color: #B45200;
}

.homepage #text-left #shopnowbtn{
    border: none;
    background: transparent;
    background-image: url('images/button images/shopnowbtn.png');
    padding: 20px 60px;
    font-size: 18px;
    /* font-weight: bold; */
    color: #096B6B;
}


/* USED TO REMOVE THE FLOAT EFFECT */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}





/* FEATUES SECTION */
.features{
    padding: 50px 71px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
}

.features .featurebox{
    border: 3px solid gainsboro;
    border-radius: 4px ;
    box-shadow: 20px 18px 12px #000000;
    padding: 12px 45px;
    transition: all 0.4s ease;
    margin: 11px;

    /* flex: 0 0 calc(33.33% - 16.6666px); */
}

.features .featurebox:hover{
    box-shadow: 10px 9px 24px #000000;
}

/* TO MAKE THE IMAGES WITHIN THE FEATUREBOXES RESPONSIVE */
.features .featurebox img{
    width: 100%;
    margin-bottom: 5px;
}

.features .featurebox h5{
    border: 3px solid lightcoral;
    border-radius: 3px;
    background-color: lightcoral;
    padding: 6px 6px;
    text-align: center;
    margin-top: 0;
    color: #004B4B;
    font-size: 15px;
}

/* TO AVOID REPITION, MAKE USE OF :nth child PROPERTY TO APPLY PROPERTIES TO THE OTHER FEATURE BOXES */
.features .featurebox:nth-child(2) h5{
    border: 3px solid lightskyblue;
    background-color: lightskyblue ;
}

.features .featurebox:nth-child(3) h5{
    border: 3px solid lightpink;
    background-color: lightpink;
}

.features .featurebox:nth-child(4) h5{
    border: 3px lightyellow;
    background-color: lightyellow;
}

.features .featurebox:nth-child(5) h5{
    border: 3px solid lightsalmon;
    background-color: lightsalmon;
}

.features .featurebox:nth-child(6) h5{
    border: 3px solid lightcyan;
    background-color: lightcyan;
}






/* FEATURED PRODUCUTS */
.featured-products{
    text-align: center;
    padding: 50px 50px;
}

.featured-products h1{
    font-size: 55px;
}

.featured-products p{
    font-size: 28px;
}

.featured-products #all-products{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.featured-products #main-product{
    width: 23%;
    height: 30%;
    padding: 10px 10px;
    margin: 25px 25px;
    border: 3px solid gainsboro;
    border-radius: 10px 10px;
    box-shadow: 16px 16px 12px #000000;
    position: relative;
    transition: all 0.5s ease;
}

.featured-products #main-product:hover{
    box-shadow: 20px 20px 8px #000000;
}

.featured-products #main-product img{
    width: 100%;
    height: 100%;
    margin-bottom: 39px;
}

.featured-products #main-product #product-description{
    text-align: start;
    line-height: 3px;
}

.featured-products #main-product #product-description h4{
    color: #096B6B;
    margin-bottom: 15px;
    font-size: 23px;
    margin-top: 20px;
}

.featured-products #main-product #five-stars{
    color: darkgoldenrod;
}

.featured-products #main-product h3{
    margin-top: 13px;
}

.featured-products #main-product #product-basket{
    background-color: #096B6B;
    padding: 4px 4px;
    border: 3px solid #096B6B;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    right: 15px;
}




/* EXPLORE SECTION */
.explore{
    background-image: url('images/banners/explore111.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.explore #wordings{
    padding: 100px;
}

.explore #wordings h4{
    /* color:cadetblue; */
    color: #FFFFFF;
    /* color: #096B6B; */
    font-size: 35px;
}

.explore #wordings h1{
    color: #FFFFFF;
    font-size: 65px;
}

.explore #wordings h1 #rednotice{
    color:#FF0000;
}

.explore #wordings .explorebtn{
    background-color: #FFFFFF;
    padding:10px 20px;
    font-size: 18px;
    border:none;
    transition: all 0.4s ease;
}

.explore #wordings .explorebtn:hover{
    background-color: #096B6B;
}




/* BANNER1 */
#banner1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    padding: 50px 50px;
}

#banner1 .main-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
    background-image: url('./images/banners/buyonegetonefree1.1.png');
    background-size: cover;
    background-position: center;
    height: 55vh;
    width: 785px;
    padding: 35px;
    margin: 16px;
}

#banner1 .main-banner span{
    font-size: 20px;
    color: #000000;
}

#banner1 .main-banner h1{
    font-size: 54px;
    margin-top:11px;
    margin-bottom: 11px;
}

#banner1 .main-banner h5{
    color: #000000;
    font-size: 22px;
    margin-top: 0;
}

#banner1 .main-banner button{
    background-color: transparent;
    border: 3px solid gainsboro;
    border-radius: 4px 4px;
    padding: 16px 16px;
    transition: all 0.4s ease;
    font-weight: 600px;
}

#banner1 .main-banner:hover button{
    background-color: #096B6B;
    border: none;
}



#banner1 .main-banner:nth-child(2){
    background-image: url('./images/banners/upcomingseason2.2.png');
}

#banner1 .main-banner:nth-child(2) span{
    color: #FFFFFF;
}

#banner1 .main-banner:nth-child(2) h1{
    color: #FFFFFF;
}

#banner1 .main-banner:nth-child(2) h5{
    color: #FFFFFF;
}

#banner1 .main-banner:nth-child(2) button{
    color: #FFFFFF;
}







/* BANNER2 */
#banner2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    padding: 50px 50px;
}

#banner2 .main-banner2{
    width: 500px;
    height: 300px;
    background-image: url('./images/banners/banner2.png');
    background-size: cover;
    background-position: center;
    padding: 26px;
    margin: 23px;
    
}

#banner2 .main-banner2 h1{
    color: #FFFFFF;
    font-size: 45px;
    margin: 0;
}

#banner2 .main-banner2 h5{
    color: #FF0000;
    font-size: 23px;
}

